{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.2"}
        cheshire/cheshire {:mvn/version "5.10.1"}
        org.martinklepsch/clj-http-lite {:mvn/version "0.4.3"}
        clojure-term-colors/clojure-term-colors {:mvn/version "0.1.0"}}
 :aliases
 {:run-m {:main-opts ["-m" "dev-hartmann.gitodo"]}
  :run-x {:ns-default dev-hartmann.gitodo
          :exec-fn -main}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "gitodo.jar"
                        :main-class "dev-hartmann.gitodo"
                        :sync-pom true}}}}
